player-connection-mode=Listen
player-connection-guid=1935317976
player-connection-debug=1
player-connection-project-name=Procedural City Project
player-connection-ip=192.168.1.5
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=1
hdr-display-enabled=0
gc-max-time-slice=3
